/* Color Palette*/
$white: #f5f5f6; //available
$gray: #84838d; //booked
$blue: rgb(83, 146, 212); //selected
$black: rgb(0, 0, 0);
$color1Tr: #282c37cf; //seatMap background
$color2Tr: #f5f5f6e4;
$color5Tr: #84838dd5;
$bgTr: #f5f5f689;

$color1: #282c37;
$color2: #f5f5f6;
$color3: #dedfe3;
$color4: #a2a3a9;
$color5: #84838d;
$color6: #d09da7;
$color7: #363942;
$accent1: rgb(236, 26, 71);
$accent1Tr: rgba(236, 26, 71, 0.579);
$accent2: rgb(26, 236, 29);
$accent2Tr: rgba(26, 236, 29, 0.586);

/* animation */
@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em $accent1;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em $accent1;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em $accent1;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em $accent1;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em $accent1;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em $accent1;
  }

  80% {
    opacity: 1;
    text-shadow: 0 0 1em $accent1;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em $accent1;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em $accent1;
  }
}
@keyframes blinkingText {
  0% {
    color: $color2;
  }
  49% {
    color: $color2;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: $color2;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes huerotator {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* mixin */
@mixin fadeInforInnerHTML {
  //fadein animation with JavaScript
  opacity: 0;
  transition: opacity 0.5s linear;
}

@mixin backgroundFullScreen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Global settings*/
// html {
//   font-size: 75%; //default 12px
// }

body {
  font-family: "Raleway", sans-serif;
  color: $color2;
  background-color: $color1;
  overflow-x: hidden;
}

//cursor
html,
body,
a,
button,
i,
img,
span {
  cursor: none !important;
}

.cursor {
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(205, 115, 113, 0.745);
  border: 0.1rem solid $white;
  z-index: 10000;
  transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  transform: translate(0, 0);
  pointer-events: none;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.cursor.hovered {
  top: -60px;
  left: -60px;
  width: 80px;
  height: 80px;
  background: rgba(134, 205, 113, 0.724);
}

//button
.btn-outline-light {
  height: fit-content;
  width: fit-content;
  background-color: $accent1;
  border: none;
  box-shadow: 0 0.3rem 0.5rem $accent1Tr;
  color: $color2;
  text-transform: uppercase;
  &:hover {
    background-color: $color2;
    border: $accent1 0.1rem solid;
    box-shadow: 0 0.3rem 0.5rem $color2;
    color: $accent1;
  }
}

//input
.form-control {
  background-color: $color3;
  &:focus {
    background-color: $color2;
    border: none;
    box-shadow: 0 0 0 0.1rem $accent1Tr;
  }
}
//select
.form-select {
  background-color: $color3;
  color: $color1;
  &:focus {
    background-color: $color2;
    border: none;
    box-shadow: 0 0 0 0.1rem $accent1Tr;
  }
}

//a : link
a {
  text-decoration: none;
}

//footer
.footer {
  text-align: center;
  color: $color4;
  padding: 1rem 0;
  box-shadow: 0rem 0rem 3rem $black;
  .toTop {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 10%;
    color: $accent1;
    z-index: 5000;
    &:hover {
      color: $accent2;
    }
  }
  div {
    i {
      color: $color4;
      &:hover {
        color: $blue;
      }
    }
  }
}
