/* Color Palette*/
/* animation */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}

@-webkit-keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

/* mixin */
/* Global settings*/
body {
  font-family: "Raleway", sans-serif;
  color: #f5f5f6;
  background-color: #282c37;
  overflow-x: hidden;
}

.btn-outline-light {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ec1a47;
  border: none;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
  color: #f5f5f6;
  text-transform: uppercase;
}

.btn-outline-light:hover {
  background-color: #f5f5f6;
  border: #ec1a47 0.1rem solid;
  -webkit-box-shadow: 0 0.3rem 0.5rem #f5f5f6;
          box-shadow: 0 0.3rem 0.5rem #f5f5f6;
  color: #ec1a47;
}

.form-control {
  background-color: #dedfe3;
}

.form-control:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

.form-select {
  background-color: #dedfe3;
  color: #282c37;
}

.form-select:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

.footer {
  text-align: center;
  color: #a2a3a9;
  padding: 1rem 0;
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

.footer i {
  color: #a2a3a9;
}

.footer i:hover {
  color: #5392d4;
}

body .container {
  min-height: 50vh;
  margin: auto;
  padding: 0;
  min-width: 100%;
  /* tagline : shown before loading the page*/
  /* trailer row (top) */
  /* detail row (bottom) */
}

body .container .taglineSection {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: black;
  position: relative;
}

body .container .taglineSection.hide {
  display: none;
}

body .container .taglineSection .tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif");
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 100px;
}

body .container .backdropRow {
  min-height: 100vh;
  /* title panel */
}

body .container .backdropRow .backdrop img {
  width: 100%;
  height: 100vh;
}

body .container .backdropRow .titlePanel {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, black), to(transparent));
  background: linear-gradient(to right, black 10%, transparent);
  min-height: 100vh;
  padding: 3rem 0 0 5rem;
  margin-left: -1rem;
}

body .container .backdropRow .titlePanel .categoryRow {
  margin-left: 0.1rem;
}

body .container .backdropRow .titlePanel .categoryRow .col {
  border: 0.2rem solid #ec1a47;
  border-radius: 5vw;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  margin-right: 1rem;
}

body .container .backdropRow .titlePanel .titleRow h1 {
  font-family: "Noto Serif", serif;
  font-size: 6rem;
}

body .container .backdropRow .titlePanel .overviewRow {
  max-width: 40%;
}

body .container .backdropRow .titlePanel .directorRow span {
  margin-right: 0.5rem;
}

body .container .backdropRow .titlePanel .bookRow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.2rem;
  grid-gap: 1.5rem;
}

body .container .backdropRow .titlePanel .bookRow .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

body .container .backdropRow .titlePanel .bookRow .rate span {
  font-size: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 0.5rem;
}

body .container .backdropRow .titlePanel .rating .rate {
  font-size: 2rem;
}

body .container .detailRow {
  min-height: 50vh;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

body .container .detailRow .left .castRow {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .container .detailRow .left .castRow .casts .castImgRow .card .card-img-top {
  border-radius: 5%;
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
}
/*# sourceMappingURL=movie.css.map */