/* Color Palette*/
/* animation */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}

@-webkit-keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

/* mixin */
/* Global settings*/
body {
  font-family: "Raleway", sans-serif;
  color: #f5f5f6;
  background-color: #282c37;
  overflow-x: hidden;
}

body .container {
  overflow-x: hidden;
}

html,
body,
a,
button,
i,
img,
span {
  cursor: none !important;
}

@media (max-width: 575.98px) {
  html,
  body,
  a,
  button,
  i,
  img,
  span {
    cursor: pointer !important;
  }
}

.cursor {
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(205, 115, 113, 0.745);
  border: 0.1rem solid #f5f5f6;
  z-index: 10000;
  -webkit-transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: none;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@media (max-width: 575.98px) {
  .cursor {
    display: none;
  }
}

.cursor.hovered {
  top: -60px;
  left: -60px;
  width: 80px;
  height: 80px;
  background: rgba(134, 205, 113, 0.724);
}

.btn-outline-light {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ec1a47;
  border: none;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
  color: #f5f5f6;
  text-transform: uppercase;
}

.btn-outline-light:hover {
  background-color: #f5f5f6;
  border: #ec1a47 0.1rem solid;
  -webkit-box-shadow: 0 0.3rem 0.5rem #f5f5f6;
          box-shadow: 0 0.3rem 0.5rem #f5f5f6;
  color: #ec1a47;
}

.form-control {
  background-color: #dedfe3;
}

.form-control:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

.form-select {
  background-color: #dedfe3;
  color: #282c37;
}

.form-select:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  color: #a2a3a9;
  padding: 1rem 0;
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

.footer a {
  z-index: 5000;
}

.footer a .toTop {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 10%;
  color: #ec1a47;
  z-index: 5000;
}

.footer a .toTop:hover {
  color: #1aec1d;
}

.footer div i {
  color: #a2a3a9;
}

.footer div i:hover {
  color: #5392d4;
}

/* Media Query - PC first */
body {
  background: url(../img/smoke.jpg), linear-gradient(45deg, black 0%, transparent 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container {
  min-height: 50vh;
  margin: auto;
  padding: 0;
  min-width: 100%;
  /* tagline : shown before loading the page*/
  /* trailer row (top) */
  /* detail row (bottom) */
}

body .container .taglineSection {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: black;
  position: relative;
}

body .container .taglineSection.hide {
  display: none;
}

body .container .taglineSection .tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif");
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 4rem;
  width: 90%;
}

@media (max-width: 575.98px) {
  body .container .taglineSection .tagline {
    font-size: calc(1.325rem + 0.9vw);
  }
}

body .container .backdropRow {
  min-height: 100vh;
  display: none;
  /* title panel */
}

body .container .backdropRow.show {
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
  display: block;
}

body .container .backdropRow .titlePanel {
  min-height: 100vh;
  padding: 3rem 0 0 5rem;
  margin-left: -1rem;
}

@media (max-width: 575.98px) {
  body .container .backdropRow .titlePanel {
    padding: 4rem 0 0 3rem;
  }
}

body .container .backdropRow .titlePanel.show {
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
  display: block;
}

body .container .backdropRow .titlePanel .categoryRow {
  margin-left: 0.1rem;
}

body .container .backdropRow .titlePanel .categoryRow .col {
  border: 0.2rem solid #ec1a47;
  border-radius: 5vw;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  margin-right: 1rem;
}

body .container .backdropRow .titlePanel .titleRow {
  margin-bottom: 2rem;
}

body .container .backdropRow .titlePanel .titleRow h1 {
  font-family: "Noto Serif", serif;
  font-size: 5rem;
}

@media (max-width: 575.98px) {
  body .container .backdropRow .titlePanel .titleRow h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

body .container .backdropRow .titlePanel .subInfo {
  width: 50%;
  padding-bottom: 1rem;
}

@media (max-width: 575.98px) {
  body .container .backdropRow .titlePanel .subInfo {
    width: 100%;
  }
}

body .container .backdropRow .titlePanel .subInfo.show {
  width: unset;
}

body .container .backdropRow .titlePanel .subInfo .left .directorRow span {
  margin-right: 0.5rem;
}

body .container .backdropRow .titlePanel .subInfo .left .bookRow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.2rem;
  grid-gap: 1.5rem;
}

@media (max-width: 575.98px) {
  body .container .backdropRow .titlePanel .subInfo .left .bookRow button,
  body .container .backdropRow .titlePanel .subInfo .left .bookRow a {
    margin: 0.5rem;
  }
}

body .container .backdropRow .titlePanel .subInfo .left .rateRow {
  margin-top: 2rem;
}

body .container .backdropRow .titlePanel .subInfo .left .rateRow .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

body .container .backdropRow .titlePanel .subInfo .left .rateRow .rate span {
  font-size: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 0.5rem;
}

body .container .backdropRow .titlePanel .subInfo .trailer {
  position: relative;
  display: none;
  text-align: left;
}

body .container .backdropRow .titlePanel .subInfo .trailer.show {
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
  display: block;
}

body .container .backdropRow .titlePanel .subInfo .trailer.show iframe {
  -webkit-box-shadow: 0 0 2rem #f5f5f6;
          box-shadow: 0 0 2rem #f5f5f6;
}

@media (max-width: 575.98px) {
  body .container .backdropRow .titlePanel .subInfo .trailer.show iframe {
    width: 300px;
    height: 200px;
    margin-left: 1rem;
  }
}

body .container .backdropRow .titlePanel .subInfo .trailer p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
}

body .container .backdropRow .titlePanel .websiteTitle {
  position: absolute;
  top: 0;
  right: 0;
  color: #f5f5f6;
  font-size: 2rem;
  text-shadow: 0 13.36px 8.896px #282c37, 0 -2px 1px #f5f5f6;
  margin: 2rem;
}

@media (max-width: 575.98px) {
  body .container .backdropRow .titlePanel .websiteTitle {
    margin: 0;
    margin-right: 1rem;
  }
}

body .container .backdropRow .titlePanel .websiteTitle span {
  font-weight: bold;
  color: rgba(26, 236, 29, 0.586);
  font-size: 3rem;
  -webkit-animation: flicker 2s linear infinite;
          animation: flicker 2s linear infinite;
}

body .container .backdropRow .titlePanel .websiteTitle:hover {
  color: #f5f5f6;
  font-weight: bold;
  text-shadow: 0 1rem 1rem #ec1a47;
}

body .container .detailRow {
  display: none;
  min-height: 50vh;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  grid-gap: 1rem;
}

body .container .detailRow.show {
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .detailRow .left .castRow {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .container .detailRow .left .castRow .casts h2 {
  margin-top: 2rem;
  border-bottom: 0.1rem #ec1a47 solid;
  text-shadow: 0 1rem 1rem #ec1a47;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .container .detailRow .left .castRow .casts .castCarousel {
  position: relative;
  border-radius: 2vw;
  background: linear-gradient(-135deg, #f5f5f6a5 0%, transparent);
}

body .container .detailRow .left .castRow .casts .castCarousel span {
  top: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

body .container .detailRow .left .castRow .casts .castCarousel span i {
  color: #ec1a47;
}

body .container .detailRow .left .castRow .casts .castCarousel span i:hover {
  color: #f5f5f6;
}

body .container .detailRow .left .castRow .casts .castCarousel .leftBtn {
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

body .container .detailRow .left .castRow .casts .castCarousel .rightBtn {
  top: 40%;
  right: 0;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  margin-top: 2rem;
  padding-left: 1rem;
  overflow-x: auto;
}

@media (max-width: 575.98px) {
  body .container .detailRow .left .castRow .casts .castCarousel .castImgRow {
    width: unset;
  }
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow::-webkit-scrollbar {
  visibility: hidden;
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg {
  position: relative;
  min-width: 10vw;
  left: 0;
  margin: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 575.98px) {
  body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg {
    min-width: 30vw;
  }
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg .card-img-top {
  border-radius: 1vw;
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg div {
  width: 100%;
  text-align: center;
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg div .castName {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 575.98px) {
  body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg div .castName {
    font-size: 1rem;
  }
}

body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg div .character {
  color: #dedfe3;
}

@media (max-width: 575.98px) {
  body .container .detailRow .left .castRow .casts .castCarousel .castImgRow .castImg div .character {
    font-size: 1rem;
  }
}

body .container .detailRow .left .reviewRow .reviews h2 {
  margin-top: 2rem;
  border-bottom: 0.1rem #ec1a47 solid;
  text-shadow: 0 1rem 1rem #ec1a47;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel {
  margin-top: 2rem;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .reviewCard {
  border-radius: 1vw;
  padding: 1rem;
  margin-bottom: 1rem;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .reviewCard p {
  color: #dedfe3;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .reviewCard .author {
  color: #dedfe3;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .reviewCard .author span {
  color: #dedfe3;
  padding-right: 1rem;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .reviewCard .author a {
  color: #ec1a47;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .reviewCard .author a:hover {
  color: #1aec1d;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .odd {
  background: linear-gradient(135deg, #f5f5f6a5 0%, transparent);
  margin-right: 10rem;
}

@media (max-width: 575.98px) {
  body .container .detailRow .left .reviewRow .reviews .reviewPanel .odd {
    margin: 0.5rem;
  }
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .odd .author {
  text-align: left;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .odd .author span {
  margin-left: 1rem;
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .even {
  background: linear-gradient(-135deg, #f5f5f6a5 0%, transparent);
  margin-left: 10rem;
}

@media (max-width: 575.98px) {
  body .container .detailRow .left .reviewRow .reviews .reviewPanel .even {
    margin: 0.5rem;
  }
}

body .container .detailRow .left .reviewRow .reviews .reviewPanel .even .author {
  text-align: right;
}

body .container .detailRow .right {
  background: url(https://i.gifer.com/WGkW.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container .detailRow .right .row h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem #ec1a47 solid;
  text-shadow: 0 1rem 1rem #ec1a47;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .container .detailRow .right .recomPanel {
  border-radius: 2vw;
  background: linear-gradient(45deg, #f5f5f6a5 0%, transparent);
  padding: 1rem;
}

body .container .detailRow .right .recomPanel .col .recomCard {
  border-radius: 2vw;
  background-color: transparent;
  margin: auto;
  border: none;
}

body .container .detailRow .right .recomPanel .col .recomCard .recomImg {
  border-radius: 2vw;
  padding: 1rem;
  margin: auto;
  margin-top: 0.5rem;
  cursor: pointer;
}

body .container .detailRow .right .recomPanel .col .recomCard .recomImg:hover {
  padding: 0;
  -webkit-box-shadow: 0 0.5rem 1rem #f5f5f6;
          box-shadow: 0 0.5rem 1rem #f5f5f6;
}

body .container .detailRow .right .recomPanel .col .recomCard .card-body {
  padding: 0;
}

body .container .detailRow .right .recomPanel .col .recomCard .card-body h5 {
  text-align: center;
  margin: auto;
}

body .container .footer {
  display: none;
}

body .container .footer.show {
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
  display: block;
}
/*# sourceMappingURL=movie.css.map */