@import "./component";

body {
  background: url(../img/smoke.jpg), linear-gradient(45deg, $black 0%, transparent 100%);
  @include backgroundFullScreen;
  .container {
    min-height: 50vh;
    margin: auto;
    padding: 0;
    min-width: 100%;
    /* tagline : shown before loading the page*/
    .taglineSection {
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: $black;
      position: relative;
      &.hide {
        display: none;
      }
      .tagline {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif");
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 3rem;
        width: 90%;
      }
    }
    /* trailer row (top) */
    .backdropRow {
      min-height: 100vh;
      display: none;
      // width: 90%;
      // margin-left: auto;
      &.show {
        animation: fadeIn 1s linear;
        display: block;
      }
      .backdrop img {
        //full width, height
        width: 100%;
        height: 100vh;
      }
      /* title panel */
      .titlePanel {
        position: absolute;
        top: 0;
        background: linear-gradient(to right, $black 10%, transparent);
        min-height: 100vh;
        padding: 3rem 0 0 5rem;
        margin-left: -1rem;
        //display: none;
        &.show {
          animation: fadeIn 1s linear;
          display: block;
        }
        .categoryRow {
          margin-left: 0.1rem;
          .col {
            border: 0.2rem solid $accent1;
            border-radius: 5vw;
            max-width: fit-content;
            text-align: center;
            margin-right: 1rem;
          }
        }
        .titleRow {
          margin-bottom: 2rem;
          h1 {
            font-family: "Noto Serif", serif;
            font-size: 5rem;
          }
        }
        .subInfo {
          width: 50%;
          &.show {
            width: unset;
          }
          .left {
            .overviewRow {
              // max-width: 40%;
            }
            .directorRow {
              span {
                margin-right: 0.5rem;
              }
            }
            .bookRow {
              width: fit-content;
              margin-left: 0.2rem;
              grid-gap: 1.5rem;
              .bookNowBtn {
              }
              .rate {
                display: flex;
                font-size: 2rem;
                span {
                  font-size: 1rem;
                  height: fit-content;
                  margin-left: 0.5rem;
                }
              }
            }
          }
          .trailer {
            position: relative;
            // box-shadow: 0 1rem 2rem $black; //shadow effect
            display: none;
            &.show {
              animation: fadeIn 1s linear;
              display: block;
              text-align: center;
              iframe {
                box-shadow: 0 0 2rem white;
              }
            }
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 2rem;
            }
          }
        }
      }
    }
    /* detail row (bottom) */
    .detailRow {
      display: none;
      min-height: 50vh;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
      &.show {
        animation: fadeIn 1s linear;
        display: flex;
      }
      .left {
        .castRow {
          height: fit-content;
          .casts {
            h2 {
              margin-top: 2rem;
              border-bottom: 0.1rem $accent1 solid;
              text-shadow: 0 1rem 1rem $accent1;
              width: fit-content;
            }
            .castCarousel {
              position: relative;
              border-radius: 2vw;
              background: linear-gradient(-135deg, #f5f5f68c 0%, transparent);
              span {
                top: 0;
                position: absolute;
                cursor: pointer;
                z-index: 1;
                i {
                  color: $accent1;
                  &:hover {
                    color: $color2;
                  }
                }
              }
              .leftBtn {
                top: 40%;
                left: 0;
                transform: translateY(-40%);
              }
              .rightBtn {
                top: 40%;
                right: 0;
                transform: translateY(-40%);
              }
              // span:nth-of-type(2) {
              //   Left:98%;
              //   text-align: right;
              // }
              .castImgRow {
                display: flex;
                width: 50vw;
                //height: 100%;
                margin-top: 2rem;
                padding-left: 1rem;
                overflow-x: auto;
                &::-webkit-scrollbar {
                  visibility: hidden;
                }
                .castImg {
                  position: relative;
                  min-width: 10vw;
                  left: 0;
                  margin: 1rem;
                  transition: 0.5s;
                  .card-img-top {
                    border-radius: 1vw;
                  }
                  div {
                    width: 100%;
                    text-align: center;
                    .castName {
                      font-weight: bold;
                      margin-bottom: 0;
                      margin-top: 1rem;
                      font-size: 1.2rem;
                    }
                    .character {
                      color: $color3;
                    }
                  }
                }
              }
            }
          }
        }
        .reviewRow {
          .reviews {
            h2 {
              margin-top: 2rem;
              border-bottom: 0.1rem $accent1 solid;
              text-shadow: 0 1rem 1rem $accent1;
              width: fit-content;
            }
            .reviewPanel {
              margin-top: 2rem;
              .reviewCard {
                border-radius: 1vw;
                padding: 1rem;
                margin-bottom: 1rem;
                p {
                  color: $color3;
                }
                .author {
                  color: $color3;
                  span {
                    color: $color3;
                    padding-right: 1rem;
                  }
                  a {
                    color: $accent1;
                    &:hover {
                      color: $accent2;
                    }
                  }
                }
              }
              .odd {
                background: linear-gradient(135deg, #f5f5f68c 0%, transparent);
                margin-right: 10rem;
                .author {
                  text-align: left;
                  span {
                    margin-left: 1rem;
                  }
                }
              }
              .even {
                background: linear-gradient(-135deg, #f5f5f68c 0%, transparent);
                margin-left: 10rem;
                .author {
                  text-align: right;
                }
              }
            }
          }
        }
      }
      .right {
        .row {
          h2 {
            margin-top: 2rem;
            border-bottom: 0.1rem $accent1 solid;
            text-shadow: 0 1rem 1rem $accent1;
            width: fit-content;
          }
        }
      }
    }
    .footer {
      display: none;
      &.show {
        animation: fadeIn 1s linear;
        display: block;
      }
    }
  }
}
