/* Color Palette*/
/* animation */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}

@-webkit-keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

/* Global settings*/
body {
  font-family: "Raleway", sans-serif;
}

.btn-outline-light {
  background-color: #ec1a47;
  border: none;
  -webkit-box-shadow: 0 0.3rem 0.5rem #ec1a47;
          box-shadow: 0 0.3rem 0.5rem #ec1a47;
  color: #f5f5f6;
}

.btn-outline-light:hover {
  background-color: #f5f5f6;
  border: #ec1a47 0.1rem solid;
  -webkit-box-shadow: 0 0.3rem 0.5rem #f5f5f6;
          box-shadow: 0 0.3rem 0.5rem #f5f5f6;
  color: #ec1a47;
}

/* Global setting*/
.flaticon-couch {
  font-size: 1.2rem;
}

body {
  background-color: #282c37;
  background: url(../img/sample3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body .container {
  /* seat selection part (col-8) */
  min-height: 100vh;
  max-width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #282c37cf;
  -webkit-box-shadow: 0 1rem 2rem #a2a3a9;
          box-shadow: 0 1rem 2rem #a2a3a9;
  border-radius: 3vw;
  /* Your seat part (col-4) */
}

body .container .titleHeader {
  color: #f5f5f6;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

body .container .description {
  width: 50%;
  color: #a2a3a9;
}

body .container .search .form-label {
  color: #a2a3a9;
}

body .container .search .form-select {
  background-color: #dedfe3;
  color: #282c37;
}

body .container .btn {
  cursor: pointer;
  margin-bottom: 1rem;
}

body .container .movieInfo {
  background-color: #363942;
}

body .container .movieInfo .movieLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .movieInfo .movieLabel .labelTitle {
  font-size: smaller;
  margin-bottom: 0;
  color: #a2a3a9;
}

body .container .movieInfo .movieLabel .content {
  color: #dedfe3;
}

body .container .movieInfo .seatLabel {
  display: none;
  color: #dedfe3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .container .movieInfo .seatLabel.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .movieInfo .seatLabel i {
  padding-right: 1rem;
}

body .container .movieInfo .seatLabel .availableLabel {
  color: #f5f5f6;
  padding-right: 1rem;
}

body .container .movieInfo .seatLabel .bookedLabel {
  color: #84838d;
}

body .container .movieInfo .seatLabel .selectedLabel {
  color: #5392d4;
  text-shadow: 0 0.1rem 0.5rem #5392d4;
}

body .container .screenLine {
  display: none;
  margin-top: 3rem;
}

body .container .screenLine.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .screenLine div {
  width: 80%;
  height: 2rem;
  border: solid 0.3rem #ec1a47;
  border-color: #ec1a47 transparent transparent transparent;
  margin: auto;
  border-top-right-radius: 150% 7vw;
  border-top-left-radius: 150% 7vw;
}

body .container .screenLine p {
  text-align: center;
  color: #a2a3a9;
  font-size: 1.5rem;
  line-height: initial;
}

body .container .seat-container {
  display: none;
  background-color: #363942;
  border-radius: 50% 49% 10% 10% / 10% 10% 0% 0%;
  padding: 2rem 1rem;
}

body .container .seat-container.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .seat-container .centerLine {
  width: 50%;
  margin: auto;
  color: #a2a3a9;
}

body .container .seat-container .seatRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .container .seat-container .seatRow .numLeft {
  position: absolute;
  left: 3%;
  color: #a2a3a9;
}

body .container .seat-container .seatRow .numRight {
  position: absolute;
  right: 3%;
  color: #a2a3a9;
}

body .container .seat-container .seatRow .seat {
  padding: 0.5rem;
}

body .container .seat-container .seatRow .seat .flaticon-armchair {
  color: #f5f5f6;
}

body .container .seat-container .seatRow .seat .flaticon-armchair.selected {
  color: #5392d4;
  text-shadow: 0 0.1rem 0.5rem #5392d4;
}

body .container .seat-container .seatRow .seat .flaticon-armchair.booked {
  color: #84838d;
}

body .container .seat-container .seatRow .seat .flaticon-couch {
  padding: 0.5rem;
  color: #f5f5f6;
}

body .container .seat-container .seatRow .seat .flaticon-couch.selected {
  color: #5392d4;
  text-shadow: 0 0.1rem 0.5rem #5392d4;
}

body .container .seat-container .seatRow .seat .flaticon-couch.booked {
  color: #84838d;
}

body .container .note {
  display: none;
  color: #a2a3a9;
}

body .container .note.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .note span {
  margin: 1rem;
}

body .container .note span i {
  vertical-align: middle;
}

body .container h2 {
  color: #a2a3a9;
}

body .container .trailer {
  margin-bottom: 1rem;
  background-color: #363942;
}

body .container .yourSeat {
  display: none;
  min-height: 50%;
}

body .container .yourSeat.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .yourSeat h3 {
  color: #a2a3a9;
}

body .container .yourSeat .number {
  text-align: center;
}

body .container .yourSeat .total {
  color: #ec1a47;
  font-size: 1.5rem;
}

body .container .yourSeat .sum {
  font-size: 2rem;
  font-weight: bold;
}

body .container .yourSeat .row {
  line-height: 100%;
  color: #f5f5f6;
}

body .container .yourSeat hr {
  color: #a2a3a9;
}

body .container .yourSeat .btn {
  margin: 1rem 0;
}

body .container .yourSeat .alert {
  padding: 0.5rem 0.5rem;
  display: none;
}

body .container .yourSeat .alert.show {
  display: block;
  -webkit-animation: fadeIn 0.3s linear;
          animation: fadeIn 0.3s linear;
}

body .container .footer {
  text-align: center;
  color: #a2a3a9;
}
/*# sourceMappingURL=seatSelection.css.map */