/* Color Palette*/
/* animation */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}

@-webkit-keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

/* mixin */
/* Global settings*/
body {
  font-family: "Raleway", sans-serif;
  color: #f5f5f6;
  background-color: #282c37;
  overflow-x: hidden;
}

html,
body,
a,
button,
i,
img,
span {
  cursor: none !important;
}

.cursor {
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(205, 115, 113, 0.745);
  border: 0.1rem solid #f5f5f6;
  z-index: 10000;
  -webkit-transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: none;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.cursor.hovered {
  top: -60px;
  left: -60px;
  width: 80px;
  height: 80px;
  background: rgba(134, 205, 113, 0.724);
}

.btn-outline-light {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ec1a47;
  border: none;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
  color: #f5f5f6;
  text-transform: uppercase;
}

.btn-outline-light:hover {
  background-color: #f5f5f6;
  border: #ec1a47 0.1rem solid;
  -webkit-box-shadow: 0 0.3rem 0.5rem #f5f5f6;
          box-shadow: 0 0.3rem 0.5rem #f5f5f6;
  color: #ec1a47;
}

.form-control {
  background-color: #dedfe3;
}

.form-control:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

.form-select {
  background-color: #dedfe3;
  color: #282c37;
}

.form-select:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  color: #a2a3a9;
  padding: 1rem 0;
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

.footer .toTop {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 10%;
  color: #ec1a47;
  z-index: 5000;
}

.footer .toTop:hover {
  color: #1aec1d;
}

.footer div i {
  color: #a2a3a9;
}

.footer div i:hover {
  color: #5392d4;
}

/* Global setting*/
.flaticon-couch {
  font-size: 1.2rem;
}

body {
  background: url(../img/sample3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .completeMsg {
  position: absolute;
  top: -0%;
  width: 100vw;
  background-color: rgba(236, 26, 71, 0.579);
  z-index: 2000;
  text-align: center;
  font-size: 2rem;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  padding: 1rem;
}

body .container {
  /* seat selection part (col-8) */
  min-height: 100vh;
  max-width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(-45deg, black, #282c37cf);
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
  border-radius: 3vw;
  /* Your seat part (col-4) */
}

body .container .titleHeader {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

body .container .description {
  width: 70%;
  color: #a2a3a9;
}

body .container .search .form-label {
  color: #a2a3a9;
}

body .container .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dedfe3;
}

body .container .location .btn {
  cursor: pointer;
  margin-bottom: 1rem;
}

body .container .location .cinemaLocation {
  font-size: 2rem;
  margin-left: 1rem;
}

body .container .movieInfo {
  background-color: #363942;
}

body .container .movieInfo .movieLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .movieInfo .movieLabel .labelTitle {
  font-size: smaller;
  margin-bottom: 0;
  color: #a2a3a9;
}

body .container .movieInfo .movieLabel .content {
  color: #dedfe3;
}

body .container .movieInfo .seatLabel {
  display: none;
  color: #dedfe3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .container .movieInfo .seatLabel.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .movieInfo .seatLabel i {
  padding-right: 1rem;
}

body .container .movieInfo .seatLabel .availableLabel {
  color: #f5f5f6;
  padding-right: 1rem;
}

body .container .movieInfo .seatLabel .bookedLabel {
  color: #84838d;
}

body .container .movieInfo .seatLabel .selectedLabel {
  color: #5392d4;
  text-shadow: 0 0.1rem 0.5rem #5392d4;
}

body .container .screenLine {
  display: none;
  margin-top: 3rem;
}

body .container .screenLine.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .screenLine div {
  width: 80%;
  height: 2rem;
  border: solid 0.3rem #ec1a47;
  border-color: #ec1a47 transparent transparent transparent;
  margin: auto;
  border-top-right-radius: 150% 7vw;
  border-top-left-radius: 150% 7vw;
}

body .container .screenLine p {
  text-align: center;
  color: #a2a3a9;
  font-size: 1.5rem;
  line-height: initial;
}

body .container .seat-container {
  display: none;
  background-color: #363942;
  border-radius: 50% 49% 10% 10% / 10% 10% 0% 0%;
  padding: 2rem 1rem;
}

body .container .seat-container.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .seat-container .centerLine {
  width: 50%;
  margin: auto;
  color: #a2a3a9;
}

body .container .seat-container .seatRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .container .seat-container .seatRow .numLeft {
  position: absolute;
  left: 3%;
  color: #a2a3a9;
}

body .container .seat-container .seatRow .numRight {
  position: absolute;
  right: 3%;
  color: #a2a3a9;
}

body .container .seat-container .seatRow .seat {
  padding: 0.5rem;
}

body .container .seat-container .seatRow .seat .flaticon-armchair {
  color: #f5f5f6;
}

body .container .seat-container .seatRow .seat .flaticon-armchair.selected {
  color: #5392d4;
  text-shadow: 0 0.1rem 0.5rem #5392d4;
}

body .container .seat-container .seatRow .seat .flaticon-armchair.booked {
  color: #84838d;
}

body .container .seat-container .seatRow .seat .flaticon-couch {
  padding: 0.5rem;
  color: #f5f5f6;
}

body .container .seat-container .seatRow .seat .flaticon-couch.selected {
  color: #5392d4;
  text-shadow: 0 0.1rem 0.5rem #5392d4;
}

body .container .seat-container .seatRow .seat .flaticon-couch.booked {
  color: #84838d;
}

body .container .note {
  display: none;
  color: #a2a3a9;
}

body .container .note.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .note span {
  margin: 1rem;
}

body .container .note span i {
  vertical-align: middle;
}

body .container .websiteTitle {
  color: #f5f5f6;
  font-size: 2rem;
  text-shadow: 0 13.36px 8.896px #282c37, 0 -2px 1px #f5f5f6;
  display: block;
  margin-bottom: 2rem;
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

body .container .websiteTitle span {
  font-weight: bold;
  color: rgba(26, 236, 29, 0.586);
  font-size: 3rem;
  -webkit-animation: flicker 2s linear infinite;
          animation: flicker 2s linear infinite;
}

body .container .websiteTitle:hover {
  color: #f5f5f6;
  font-weight: bold;
  text-shadow: 0 1rem 1rem #ec1a47;
}

body .container h2 {
  color: #a2a3a9;
  margin-bottom: 1rem;
}

body .container .trailer {
  margin-bottom: 1rem;
  background-color: #363942;
}

body .container .yourSeat {
  display: none;
  min-height: 50%;
}

body .container .yourSeat.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

body .container .yourSeat h3 {
  color: #a2a3a9;
}

body .container .yourSeat .number {
  text-align: center;
}

body .container .yourSeat .total {
  color: #ec1a47;
  font-size: 1.5rem;
}

body .container .yourSeat .sum {
  font-size: 2rem;
  font-weight: bold;
}

body .container .yourSeat .row {
  line-height: 100%;
  color: #f5f5f6;
}

body .container .yourSeat hr {
  color: #a2a3a9;
}

body .container .yourSeat .btn {
  margin: 1rem 0;
}

body .container .yourSeat .alert {
  padding: 0.5rem 0.5rem;
  display: none;
}

body .container .yourSeat .alert.show {
  display: block;
  -webkit-animation: fadeIn 0.3s linear;
          animation: fadeIn 0.3s linear;
}

body .container .footer {
  display: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

body .container .footer.show {
  display: block;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}
/*# sourceMappingURL=seatSelection.css.map */