@import "./component";

html,
body {
  background: url(../img/smoke.jpg), linear-gradient(45deg, $black 0%, transparent 100%);
  @include backgroundFullScreen;
  &.trailerModal-active {
    overflow: hidden;
  }
  .container {
    //margin: 0; //full screen
    margin: auto;
    padding: 0; //full screen
    min-width: 100%; //full screen
    /* opening*/
    .opening {
      position: relative;
      //background: url(../img/bg6.jpg), linear-gradient(to bottom, $accent2 0%, $accent1 100%);
      background: url(https://i.gifer.com/WGkW.gif), linear-gradient(45deg, $black 0%, transparent 100%);
      @include backgroundFullScreen;
      animation: huerotator 3s infinite alternate;
      height: 100vh; //full screen
      .openingRow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          text-align: center;
          .drops {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
            span {
              opacity: 0;
              transition: 0.3s linear;
              display: block;
              font-size: 3rem;
              transform: translateY(-15rem);
              overflow-y: hidden;
              &.show {
                opacity: 1;
                font-size: 5rem;
                transform: translateY(0rem);
                padding: 1rem;
                @include XS {
                  font-size: calc(1.375rem + 1.5vw);
                }
                &.scaleUp {
                  transform: scale(1.5);
                }
              }
            }
          }
          .bigger {
            opacity: 0;
            transition: 1s linear;
            font-size: 7rem;
            font-family: "Noto Serif", serif;
            font-weight: bold;
            width: fit-content;
            margin: auto;
            @include XS {
              font-size: 3rem;
            }
            &.show {
              opacity: 1;
              transform: scale(1.5);
              @include XS {
                font-size: 3rem;
              }
            }
          }
        }
        i {
          font-size: 4rem;
          color: $accent1;
          text-align: center;
          text-decoration: none;
          margin: 1.5rem auto;
          padding: 0;
        }
        .msg {
          font-size: 3rem;
          text-align: center;
          text-decoration: none;
          animation: blinkingText 1.5s infinite;
          width: fit-content;
          margin: auto;
          @include XS {
            font-size: 2rem;
          }
          span {
            color: $accent1;
            font-weight: bold;
            font-size: 4rem;
            @include XS {
              font-size: 2rem;
            }
          }
        }
      }
    }
    /* nav bar */
    .navbar {
      font-size: 1.5rem;
      padding: 0;
      @include XS {
        width: 100vw;
      }
      &.headerScrolled {
        background-color: $color1 !important;
        transition: background-color 0.2s linear;
        box-shadow: 0rem 0rem 3rem $black;
      }
      .alert {
        position: absolute;
        top: -0%;
        width: 100vw;
        background-color: $accent1Tr;
        z-index: 2000;
        text-align: center;
        font-size: 2rem;
        transform: translateY(-10rem);
        transition: 0.5s linear;
      }
      .container-fluid {
        @include XS {
          background-color: $color1Tr;
        }
        .navbar-toggler {
          border-color: $color2;
          color: $accent1;
          .navbar-toggler-icon {
            background-color: $color2;
          }
        }
        .websiteTitle {
          color: $color2;
          font-size: 2rem;
          text-shadow: 0 13.36px 8.896px $color1, 0 -2px 1px $color2; //3D
          span {
            font-weight: bold;
            color: $accent1Tr;
            font-size: 3rem;
            animation: flicker 2s linear infinite;
          }
          &:hover {
            color: $color2;
            font-weight: bold;
            text-shadow: 0 1rem 1rem $accent1;
          }
        }
        .navbar-collapse {
          &.show {
            padding: 1.5rem;
            text-align: right;
          }
          .navbar-nav {
            margin-left: auto !important;
            margin-right: 1rem !important;
            .nav-item {
              width: fit-content;
              margin-left: auto;
              color: $color2;
              transform: translateY(0.5rem);
              opacity: 0;
              &:hover {
                font-weight: bold;
                border-bottom: 0.2rem solid $accent1Tr;
                text-shadow: 0 1rem 1rem $accent1Tr;
              }
              span {
                color: $accent2;
              }
              &.fadeIn {
                opacity: 1;
                animation: fadeIn 1s linear;
              }
            }
          }
          form {
            .search {
              width: 50vw;
              @include XS {
                width: 100%;
              }
            }
          }
        }
      }
    }
    /* carousel */
    .carousel {
      height: 100vh; //full screen
      //width: 100vw; //full screen
      background-color: $color7;
      .nowOnTheater {
        height: 100vh; //full screen
        margin: auto;
        @include XS {
          min-height: 100vh;
        }
        .carousel-item {
          height: 100%;
          width: 100%;
          img {
            //images for carousel
            height: 100vh; //full screen
            @include XS {
              height: 30%;
            }
          }
          .movieInfo {
            background-color: $color1Tr;
            box-shadow: 0 1rem 2rem $black; //shadow effect
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            z-index: 1;
            width: 40vw;
            height: fit-content;
            border-radius: 3vw;
            padding: 1rem;
            @include XS {
              position: unset;
              top: unset;
              left: unset;
              transform: unset;
              width: unset;
              height: 100%;
            }
            .row {
              margin: 1rem;
              @include XS {
                margin: 0;
              }
            }
            .category {
              display: flex;
              justify-content: space-evenly;
            }
            .description {
              text-align: justify;
            }
            .showInfo {
              display: flex;
              justify-content: space-evenly;
            }
            .btns {
              .btn {
                margin: 0.5rem;
                span {
                  display: none;
                }
              }
            }
          }
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        width: 10%;
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          width: 6rem;
          height: 6rem;
        }
      }
    }
    /* Search Result */
    .searchResult {
      display: none;
      min-height: 100vh; //full screen
      width: 90%;
      margin: auto;
      margin: 1rem auto;
      padding-top: 10rem;
      position: relative;
      .movieListRow {
        margin-bottom: 3rem;
        .card {
          border: none;
          padding: 1rem;
          background-color: unset !important;
          margin-top: 1rem;
          margin-bottom: 1rem;
          cursor: pointer;
          z-index: 1;
          &:hover {
            transform: translateY(-1rem);
            box-shadow: 0 0rem 1.5rem $white; //shadow effect
            padding: 0;
          }
          img {
            height: 100%;
            border-radius: 5%;
          }
          .card-img-overlay {
            color: $accent1;
            padding: 3rem;
            text-shadow: 0 0 1em $white;
            .card-title {
              font-size: 1.5rem;
            }
          }
        }
      }
      .popOverContent {
        opacity: 0;
        box-shadow: 0 0rem 2rem $black; //shadow effect
        transition: 0.3s linear;
        position: fixed;
        bottom: 0;
        left: 0;
        background: linear-gradient(45deg, $color5 50%, transparent);
        padding: 1rem 2rem 1rem 2rem;
        width: 50%;
        border-top-right-radius: 5vw;
        text-shadow: 0 0 1em $color7;
        font-weight: bold;
        @include XS {
          width: 100%;
        }
        &.show {
          opacity: 1;
          z-index: 1000;
        }
        .clsBtn {
          color: $accent1;
          background-color: unset;
          border: none;
          padding: 0;
          margin-right: 1rem;
          font-size: 2rem;
          font-weight: bold;
          &:hover {
            color: $accent2;
          }
        }
        h5 {
          font-size: 2rem;
          font-family: "Noto Serif", serif;
          border-bottom: 0.2rem solid $accent1;
        }
        .trailerBtn,
        .viewDetailBtn,
        .bookNowBtn {
          margin-right: 1rem;
          @include XS {
            margin: 1rem;
          }
          span {
            display: none; //to have movid id in the button tag and a tag
          }
        }
        .info {
          display: flex;
          justify-content: flex-start;
          margin: 1rem;
          margin-left: 0;
          p {
            padding-right: 1rem;
            color: $accent1;
          }
        }
      }
      .pageNav {
        padding: 0 26rem;
        overflow-x: scroll;
        @include XS {
          padding: 0;
        }
        .pagination {
          .page-item {
            &:hover {
              background-color: $accent1;
            }
            &.active {
              background-color: $color5;
            }
            .page-link {
              background-color: transparent;
              color: $accent1;
              cursor: pointer;
              border: 0.1rem solid $color2;
            }
            .pageNum {
              color: $color2;
              cursor: pointer;
              z-index: 2;
              border: 0.1rem solid $color2;
            }
          }
        }
      }
    }
  }
  .trailerModal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    .trailerBackground {
      //background: linear-gradient(45deg, $color1Tr, $color5Tr), url("https://image.tmdb.org/t/p/original/8f9dnOtpArDrOMEylpSN9Sc6fuz.jpg");
      //@include backgroundFullScreen;
      width: 100vw;
      height: 100vh;
      .trailer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .trailerContents {
          text-align: center;
          z-index: 1;
          .carousel-indicators {
            width: fit-content;
            margin: auto;
          }
          .carousel-inner {
            box-shadow: 0rem 0rem 3rem $color2Tr; //shadow
            iframe {
              @include XS {
                width: 300px;
                height: 200px;
              }
            }
          }
          .carousel-control-prev,
          .carousel-control-next {
            height: fit-content;
            margin: auto;
          }
        }
      }
    }
    &.show {
      display: block;
      z-index: 3000;
      opacity: 1;
      animation: fadeIn 1s linear;
    }
    //========~=======================~
    // &.trailer {
    //   z-index: 0;
    //   transform: scale(1);
    //   .trailerbackground {
    //     background: rgba(0, 0, 0, 0.7);
    //     .trailer {
    //       animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    //     }
    //   }
    //   + .content {
    //     z-index: 1;
    //     animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    //   }
    //   &.out {
    //     .trailerbackground {
    //       .modal {
    //         animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    //       }
    //     }
    //     + .content {
    //       animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    //     }
    //   }
    // }
    //========~=======================~
  }
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
