/* Color Palette*/
/* animation */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #ec1a47;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #ec1a47;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #ec1a47;
  }
}

@-webkit-keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@keyframes blinkingText {
  0% {
    color: #f5f5f6;
  }
  49% {
    color: #f5f5f6;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f5f5f6;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

/* mixin */
/* Global settings*/
body {
  font-family: "Raleway", sans-serif;
  color: #f5f5f6;
  background-color: #282c37;
  overflow-x: hidden;
}

body .container {
  overflow-x: hidden;
}

html,
body,
a,
button,
i,
img,
span {
  cursor: none !important;
}

@media (max-width: 575.98px) {
  html,
  body,
  a,
  button,
  i,
  img,
  span {
    cursor: pointer !important;
  }
}

.cursor {
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(205, 115, 113, 0.745);
  border: 0.1rem solid #f5f5f6;
  z-index: 10000;
  -webkit-transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: none;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@media (max-width: 575.98px) {
  .cursor {
    display: none;
  }
}

.cursor.hovered {
  top: -60px;
  left: -60px;
  width: 80px;
  height: 80px;
  background: rgba(134, 205, 113, 0.724);
}

.btn-outline-light {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ec1a47;
  border: none;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0.3rem 0.5rem rgba(236, 26, 71, 0.579);
  color: #f5f5f6;
  text-transform: uppercase;
}

.btn-outline-light:hover {
  background-color: #f5f5f6;
  border: #ec1a47 0.1rem solid;
  -webkit-box-shadow: 0 0.3rem 0.5rem #f5f5f6;
          box-shadow: 0 0.3rem 0.5rem #f5f5f6;
  color: #ec1a47;
}

.form-control {
  background-color: #dedfe3;
}

.form-control:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

.form-select {
  background-color: #dedfe3;
  color: #282c37;
}

.form-select:focus {
  background-color: #f5f5f6;
  border: none;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
          box-shadow: 0 0 0 0.1rem rgba(236, 26, 71, 0.579);
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  color: #a2a3a9;
  padding: 1rem 0;
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

.footer a {
  z-index: 5000;
}

.footer a .toTop {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 10%;
  color: #ec1a47;
  z-index: 5000;
}

.footer a .toTop:hover {
  color: #1aec1d;
}

.footer div i {
  color: #a2a3a9;
}

.footer div i:hover {
  color: #5392d4;
}

/* Media Query */
html,
body {
  background: url(../img/smoke.jpg), linear-gradient(45deg, black 0%, transparent 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html.trailerModal-active,
body.trailerModal-active {
  overflow: hidden;
}

html .container,
body .container {
  margin: auto;
  padding: 0;
  min-width: 100%;
  /* opening*/
  /* nav bar */
  /* carousel */
  /* Search Result */
}

html .container .opening,
body .container .opening {
  position: relative;
  background: url(https://i.gifer.com/WGkW.gif), linear-gradient(45deg, black 0%, transparent 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: huerotator 3s infinite alternate;
          animation: huerotator 3s infinite alternate;
  height: 100vh;
}

html .container .opening .openingRow,
body .container .opening .openingRow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html .container .opening .openingRow h1,
body .container .opening .openingRow h1 {
  text-align: center;
}

html .container .opening .openingRow h1 .drops,
body .container .opening .openingRow h1 .drops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

html .container .opening .openingRow h1 .drops span,
body .container .opening .openingRow h1 .drops span {
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: block;
  font-size: 3rem;
  -webkit-transform: translateY(-15rem);
          transform: translateY(-15rem);
  overflow-y: hidden;
}

html .container .opening .openingRow h1 .drops span.show,
body .container .opening .openingRow h1 .drops span.show {
  opacity: 1;
  font-size: 5rem;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  padding: 1rem;
}

@media (max-width: 575.98px) {
  html .container .opening .openingRow h1 .drops span.show,
  body .container .opening .openingRow h1 .drops span.show {
    font-size: inherit;
  }
  html .container .opening .openingRow h1 .drops span.show h1,
  body .container .opening .openingRow h1 .drops span.show h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .opening .openingRow h1 .drops span.show a,
  body .container .opening .openingRow h1 .drops span.show a {
    font-size: 1rem;
  }
}

html .container .opening .openingRow h1 .drops span.show.scaleUp,
body .container .opening .openingRow h1 .drops span.show.scaleUp {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

html .container .opening .openingRow h1 .bigger,
body .container .opening .openingRow h1 .bigger {
  opacity: 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  font-size: 7rem;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (max-width: 575.98px) {
  html .container .opening .openingRow h1 .bigger,
  body .container .opening .openingRow h1 .bigger {
    font-size: 3rem;
  }
  html .container .opening .openingRow h1 .bigger h1,
  body .container .opening .openingRow h1 .bigger h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .opening .openingRow h1 .bigger a,
  body .container .opening .openingRow h1 .bigger a {
    font-size: 1rem;
  }
}

html .container .opening .openingRow h1 .bigger.show,
body .container .opening .openingRow h1 .bigger.show {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 575.98px) {
  html .container .opening .openingRow h1 .bigger.show,
  body .container .opening .openingRow h1 .bigger.show {
    font-size: 3rem;
  }
  html .container .opening .openingRow h1 .bigger.show h1,
  body .container .opening .openingRow h1 .bigger.show h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .opening .openingRow h1 .bigger.show a,
  body .container .opening .openingRow h1 .bigger.show a {
    font-size: 1rem;
  }
}

html .container .opening .openingRow i,
body .container .opening .openingRow i {
  font-size: 4rem;
  color: #ec1a47;
  text-align: center;
  text-decoration: none;
  margin: 1.5rem auto;
  padding: 0;
}

html .container .opening .openingRow .msg,
body .container .opening .openingRow .msg {
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  -webkit-animation: blinkingText 1.5s infinite;
          animation: blinkingText 1.5s infinite;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (max-width: 575.98px) {
  html .container .opening .openingRow .msg,
  body .container .opening .openingRow .msg {
    font-size: 2rem;
  }
  html .container .opening .openingRow .msg h1,
  body .container .opening .openingRow .msg h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .opening .openingRow .msg a,
  body .container .opening .openingRow .msg a {
    font-size: 1rem;
  }
}

html .container .opening .openingRow .msg span,
body .container .opening .openingRow .msg span {
  color: #ec1a47;
  font-weight: bold;
  font-size: 4rem;
}

@media (max-width: 575.98px) {
  html .container .opening .openingRow .msg span,
  body .container .opening .openingRow .msg span {
    font-size: 2rem;
  }
  html .container .opening .openingRow .msg span h1,
  body .container .opening .openingRow .msg span h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .opening .openingRow .msg span a,
  body .container .opening .openingRow .msg span a {
    font-size: 1rem;
  }
}

html .container .navbar,
body .container .navbar {
  font-size: 1.5rem;
  padding: 0;
}

@media (max-width: 575.98px) {
  html .container .navbar,
  body .container .navbar {
    width: 100vw;
  }
  html .container .navbar h1,
  body .container .navbar h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .navbar a,
  body .container .navbar a {
    font-size: 1rem;
  }
}

html .container .navbar.headerScrolled,
body .container .navbar.headerScrolled {
  background-color: #282c37 !important;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

html .container .navbar .alert,
body .container .navbar .alert {
  position: absolute;
  top: -0%;
  width: 100vw;
  background-color: rgba(236, 26, 71, 0.579);
  z-index: 2000;
  text-align: center;
  font-size: 2rem;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

@media (max-width: 575.98px) {
  html .container .navbar .container-fluid,
  body .container .navbar .container-fluid {
    background-color: #282c37cf;
  }
  html .container .navbar .container-fluid h1,
  body .container .navbar .container-fluid h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .navbar .container-fluid a,
  body .container .navbar .container-fluid a {
    font-size: 1rem;
  }
}

html .container .navbar .container-fluid .navbar-toggler,
body .container .navbar .container-fluid .navbar-toggler {
  border-color: #f5f5f6;
  color: #ec1a47;
}

html .container .navbar .container-fluid .navbar-toggler .navbar-toggler-icon,
body .container .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-color: #f5f5f6;
}

html .container .navbar .container-fluid .websiteTitle,
body .container .navbar .container-fluid .websiteTitle {
  color: #f5f5f6;
  font-size: 2rem;
  text-shadow: 0 13.36px 8.896px #282c37, 0 -2px 1px #f5f5f6;
}

html .container .navbar .container-fluid .websiteTitle span,
body .container .navbar .container-fluid .websiteTitle span {
  font-weight: bold;
  color: rgba(236, 26, 71, 0.579);
  font-size: 3rem;
  -webkit-animation: flicker 2s linear infinite;
          animation: flicker 2s linear infinite;
}

html .container .navbar .container-fluid .websiteTitle:hover,
body .container .navbar .container-fluid .websiteTitle:hover {
  color: #f5f5f6;
  font-weight: bold;
  text-shadow: 0 1rem 1rem #ec1a47;
}

html .container .navbar .container-fluid .navbar-collapse.show,
body .container .navbar .container-fluid .navbar-collapse.show {
  padding: 1.5rem;
  text-align: right;
}

html .container .navbar .container-fluid .navbar-collapse .navbar-nav,
body .container .navbar .container-fluid .navbar-collapse .navbar-nav {
  margin-left: auto !important;
  margin-right: 1rem !important;
}

html .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item,
body .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  color: #f5f5f6;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  opacity: 0;
}

html .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:hover,
body .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:hover {
  font-weight: bold;
  border-bottom: 0.2rem solid rgba(236, 26, 71, 0.579);
  text-shadow: 0 1rem 1rem rgba(236, 26, 71, 0.579);
}

html .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item span,
body .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item span {
  color: #1aec1d;
}

html .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item.fadeIn,
body .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item.fadeIn {
  opacity: 1;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

html .container .navbar .container-fluid .navbar-collapse form .search,
body .container .navbar .container-fluid .navbar-collapse form .search {
  width: 50vw;
}

@media (max-width: 575.98px) {
  html .container .navbar .container-fluid .navbar-collapse form .search,
  body .container .navbar .container-fluid .navbar-collapse form .search {
    width: 100%;
  }
  html .container .navbar .container-fluid .navbar-collapse form .search h1,
  body .container .navbar .container-fluid .navbar-collapse form .search h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .navbar .container-fluid .navbar-collapse form .search a,
  body .container .navbar .container-fluid .navbar-collapse form .search a {
    font-size: 1rem;
  }
}

html .container .carousel,
body .container .carousel {
  height: 100vh;
  background-color: #363942;
}

html .container .carousel .nowOnTheater,
body .container .carousel .nowOnTheater {
  height: 100vh;
  margin: auto;
}

html .container .carousel .nowOnTheater .carousel-item,
body .container .carousel .nowOnTheater .carousel-item {
  height: 100%;
  width: 100%;
}

html .container .carousel .nowOnTheater .carousel-item img,
body .container .carousel .nowOnTheater .carousel-item img {
  height: 100vh;
}

@media (max-width: 575.98px) {
  html .container .carousel .nowOnTheater .carousel-item img,
  body .container .carousel .nowOnTheater .carousel-item img {
    height: 50%;
  }
  html .container .carousel .nowOnTheater .carousel-item img h1,
  body .container .carousel .nowOnTheater .carousel-item img h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .carousel .nowOnTheater .carousel-item img a,
  body .container .carousel .nowOnTheater .carousel-item img a {
    font-size: 1rem;
  }
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo,
body .container .carousel .nowOnTheater .carousel-item .movieInfo {
  background-color: #282c37cf;
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3vw;
  padding: 1rem;
}

@media (max-width: 575.98px) {
  html .container .carousel .nowOnTheater .carousel-item .movieInfo,
  body .container .carousel .nowOnTheater .carousel-item .movieInfo {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    width: unset;
    min-height: 50vh;
  }
  html .container .carousel .nowOnTheater .carousel-item .movieInfo h1,
  body .container .carousel .nowOnTheater .carousel-item .movieInfo h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .carousel .nowOnTheater .carousel-item .movieInfo a,
  body .container .carousel .nowOnTheater .carousel-item .movieInfo a {
    font-size: 1rem;
  }
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo .row,
body .container .carousel .nowOnTheater .carousel-item .movieInfo .row {
  margin: 1rem;
}

@media (max-width: 575.98px) {
  html .container .carousel .nowOnTheater .carousel-item .movieInfo .row,
  body .container .carousel .nowOnTheater .carousel-item .movieInfo .row {
    margin: 0;
  }
  html .container .carousel .nowOnTheater .carousel-item .movieInfo .row h1,
  body .container .carousel .nowOnTheater .carousel-item .movieInfo .row h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .carousel .nowOnTheater .carousel-item .movieInfo .row a,
  body .container .carousel .nowOnTheater .carousel-item .movieInfo .row a {
    font-size: 1rem;
  }
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo .category,
body .container .carousel .nowOnTheater .carousel-item .movieInfo .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo .description,
body .container .carousel .nowOnTheater .carousel-item .movieInfo .description {
  text-align: justify;
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo .showInfo,
body .container .carousel .nowOnTheater .carousel-item .movieInfo .showInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo .btns .btn,
body .container .carousel .nowOnTheater .carousel-item .movieInfo .btns .btn {
  margin: 0.5rem;
}

html .container .carousel .nowOnTheater .carousel-item .movieInfo .btns .btn span,
body .container .carousel .nowOnTheater .carousel-item .movieInfo .btns .btn span {
  display: none;
}

html .container .carousel .carousel-control-prev,
html .container .carousel .carousel-control-next,
body .container .carousel .carousel-control-prev,
body .container .carousel .carousel-control-next {
  width: 10%;
}

html .container .carousel .carousel-control-prev .carousel-control-prev-icon,
html .container .carousel .carousel-control-prev .carousel-control-next-icon,
html .container .carousel .carousel-control-next .carousel-control-prev-icon,
html .container .carousel .carousel-control-next .carousel-control-next-icon,
body .container .carousel .carousel-control-prev .carousel-control-prev-icon,
body .container .carousel .carousel-control-prev .carousel-control-next-icon,
body .container .carousel .carousel-control-next .carousel-control-prev-icon,
body .container .carousel .carousel-control-next .carousel-control-next-icon {
  width: 6rem;
  height: 6rem;
}

html .container .searchResult,
body .container .searchResult {
  display: none;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  margin: 1rem auto;
  padding-top: 10rem;
  position: relative;
}

html .container .searchResult .movieListRow,
body .container .searchResult .movieListRow {
  margin-bottom: 3rem;
}

html .container .searchResult .movieListRow .card,
body .container .searchResult .movieListRow .card {
  border: none;
  padding: 1rem;
  background-color: unset !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  z-index: 1;
}

html .container .searchResult .movieListRow .card:hover,
body .container .searchResult .movieListRow .card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 0rem 1.5rem #f5f5f6;
          box-shadow: 0 0rem 1.5rem #f5f5f6;
  padding: 0;
}

html .container .searchResult .movieListRow .card img,
body .container .searchResult .movieListRow .card img {
  height: 100%;
  border-radius: 5%;
}

html .container .searchResult .movieListRow .card .card-img-overlay,
body .container .searchResult .movieListRow .card .card-img-overlay {
  color: #ec1a47;
  padding: 3rem;
  text-shadow: 0 0 1em #f5f5f6;
}

html .container .searchResult .movieListRow .card .card-img-overlay .card-title,
body .container .searchResult .movieListRow .card .card-img-overlay .card-title {
  font-size: 1.5rem;
}

html .container .searchResult .popOverContent,
body .container .searchResult .popOverContent {
  opacity: 0;
  -webkit-box-shadow: 0 0rem 2rem black;
          box-shadow: 0 0rem 2rem black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #84838d 50%, transparent);
  padding: 1rem 2rem 1rem 2rem;
  width: 50%;
  border-top-right-radius: 5vw;
  text-shadow: 0 0 1em #363942;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  html .container .searchResult .popOverContent,
  body .container .searchResult .popOverContent {
    width: 100%;
  }
  html .container .searchResult .popOverContent h1,
  body .container .searchResult .popOverContent h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .searchResult .popOverContent a,
  body .container .searchResult .popOverContent a {
    font-size: 1rem;
  }
}

html .container .searchResult .popOverContent.show,
body .container .searchResult .popOverContent.show {
  opacity: 1;
  z-index: 1000;
}

html .container .searchResult .popOverContent .clsBtn,
body .container .searchResult .popOverContent .clsBtn {
  color: #ec1a47;
  background-color: unset;
  border: none;
  padding: 0;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

html .container .searchResult .popOverContent .clsBtn:hover,
body .container .searchResult .popOverContent .clsBtn:hover {
  color: #1aec1d;
}

html .container .searchResult .popOverContent h5,
body .container .searchResult .popOverContent h5 {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  border-bottom: 0.2rem solid #ec1a47;
}

html .container .searchResult .popOverContent .trailerBtn,
html .container .searchResult .popOverContent .viewDetailBtn,
html .container .searchResult .popOverContent .bookNowBtn,
body .container .searchResult .popOverContent .trailerBtn,
body .container .searchResult .popOverContent .viewDetailBtn,
body .container .searchResult .popOverContent .bookNowBtn {
  margin-right: 1rem;
}

@media (max-width: 575.98px) {
  html .container .searchResult .popOverContent .trailerBtn,
  html .container .searchResult .popOverContent .viewDetailBtn,
  html .container .searchResult .popOverContent .bookNowBtn,
  body .container .searchResult .popOverContent .trailerBtn,
  body .container .searchResult .popOverContent .viewDetailBtn,
  body .container .searchResult .popOverContent .bookNowBtn {
    margin: 1rem;
  }
  html .container .searchResult .popOverContent .trailerBtn h1,
  html .container .searchResult .popOverContent .viewDetailBtn h1,
  html .container .searchResult .popOverContent .bookNowBtn h1,
  body .container .searchResult .popOverContent .trailerBtn h1,
  body .container .searchResult .popOverContent .viewDetailBtn h1,
  body .container .searchResult .popOverContent .bookNowBtn h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .searchResult .popOverContent .trailerBtn a,
  html .container .searchResult .popOverContent .viewDetailBtn a,
  html .container .searchResult .popOverContent .bookNowBtn a,
  body .container .searchResult .popOverContent .trailerBtn a,
  body .container .searchResult .popOverContent .viewDetailBtn a,
  body .container .searchResult .popOverContent .bookNowBtn a {
    font-size: 1rem;
  }
}

html .container .searchResult .popOverContent .trailerBtn span,
html .container .searchResult .popOverContent .viewDetailBtn span,
html .container .searchResult .popOverContent .bookNowBtn span,
body .container .searchResult .popOverContent .trailerBtn span,
body .container .searchResult .popOverContent .viewDetailBtn span,
body .container .searchResult .popOverContent .bookNowBtn span {
  display: none;
}

html .container .searchResult .popOverContent .info,
body .container .searchResult .popOverContent .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem;
  margin-left: 0;
}

html .container .searchResult .popOverContent .info p,
body .container .searchResult .popOverContent .info p {
  padding-right: 1rem;
  color: #ec1a47;
}

html .container .searchResult .pageNav,
body .container .searchResult .pageNav {
  padding: 0 26rem;
  overflow-x: scroll;
}

@media (max-width: 575.98px) {
  html .container .searchResult .pageNav,
  body .container .searchResult .pageNav {
    padding: 0;
  }
  html .container .searchResult .pageNav h1,
  body .container .searchResult .pageNav h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .container .searchResult .pageNav a,
  body .container .searchResult .pageNav a {
    font-size: 1rem;
  }
}

html .container .searchResult .pageNav .pagination .page-item:hover,
body .container .searchResult .pageNav .pagination .page-item:hover {
  background-color: #ec1a47;
}

html .container .searchResult .pageNav .pagination .page-item.active,
body .container .searchResult .pageNav .pagination .page-item.active {
  background-color: #84838d;
}

html .container .searchResult .pageNav .pagination .page-item .page-link,
body .container .searchResult .pageNav .pagination .page-item .page-link {
  background-color: transparent;
  color: #ec1a47;
  cursor: pointer;
  border: 0.1rem solid #f5f5f6;
}

html .container .searchResult .pageNav .pagination .page-item .pageNum,
body .container .searchResult .pageNav .pagination .page-item .pageNum {
  color: #f5f5f6;
  cursor: pointer;
  z-index: 2;
  border: 0.1rem solid #f5f5f6;
}

html .trailerModal,
body .trailerModal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}

html .trailerModal .trailerBackground,
body .trailerModal .trailerBackground {
  width: 100vw;
  height: 100vh;
}

html .trailerModal .trailerBackground .trailer,
body .trailerModal .trailerBackground .trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html .trailerModal .trailerBackground .trailer .trailerContents,
body .trailerModal .trailerBackground .trailer .trailerContents {
  text-align: center;
  z-index: 1;
}

html .trailerModal .trailerBackground .trailer .trailerContents .carousel-indicators,
body .trailerModal .trailerBackground .trailer .trailerContents .carousel-indicators {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

html .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner,
body .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner {
  -webkit-box-shadow: 0rem 0rem 3rem #f5f5f6e4;
          box-shadow: 0rem 0rem 3rem #f5f5f6e4;
}

@media (max-width: 575.98px) {
  html .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner iframe,
  body .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner iframe {
    width: 300px;
    height: 200px;
  }
  html .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner iframe h1,
  body .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner iframe h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  html .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner iframe a,
  body .trailerModal .trailerBackground .trailer .trailerContents .carousel-inner iframe a {
    font-size: 1rem;
  }
}

html .trailerModal .trailerBackground .trailer .trailerContents .carousel-control-prev,
html .trailerModal .trailerBackground .trailer .trailerContents .carousel-control-next,
body .trailerModal .trailerBackground .trailer .trailerContents .carousel-control-prev,
body .trailerModal .trailerBackground .trailer .trailerContents .carousel-control-next {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

html .trailerModal.show,
body .trailerModal.show {
  display: block;
  z-index: 3000;
  opacity: 1;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}

@-webkit-keyframes blowUpContent {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  99.9% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes blowUpContent {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  99.9% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes blowUpContentTwo {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowUpContentTwo {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */